body {
  font-family: 'Kulim Park', sans-serif;
}

input {
  font-family: 'Kulim Park', sans-serif;
}

@media (min-width: 736px) {

.main-container {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
}

.main-container-results {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #FFFFFF;
}

.field {
  width: 50vw;
  background-color: #151515;
  border: none;
  border-bottom: 1px solid white;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 40px;
}

.logo-container {
  position: absolute;
  height: 90px;
  width: 117px;
  left: 25px;
  top: 40px;
}

.job-list-container {
  display: block;
  align-items: center;
}

#logo {
  width: 100%;
  height: 100%;
}

.job {
  display: block;
  width: 95%;
  border: 1px solid white;
  color: white;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.job:hover {
  padding: 30px;
  border: 4px solid white;
}

.job.active {
  max-height: 600px;
}

.job-toggled:hover {
  padding: 30px;
  border: 4px solid white;
}

#go {
  font-size: 23px;
  border-radius: 15px;
}

input,
textarea,
select {
    outline: 0;
}

}


@media (max-width: 736px) {

.field {
  width: 90vw;
  background-color: #151515;
  border: none;
  border-bottom: 1px solid white;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
}

}
