body {
  font-family: 'Kulim Park', sans-serif;
}

input {
  font-family: 'Kulim Park', sans-serif;
}

.main-container {
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
}

.field {
  width: 50vw;
  background-color: #151515;
  border: none;
  border-bottom: 1px solid white;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 50px;
}

#logo {
  width: 100px;
  height: 80px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

input,
textarea,
select {
    outline: 0;
}
