body {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". text text text ."
    ". . field-progress-bar field-progress-bar ."
    ". . . . .";
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: black;
}


.text {
  grid-area: text;
  animation: move-text 2s;
}

.text-animated {
  animation: move-out-text 2s !important;
}

@keyframes move-text {

  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  50% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes move-out-text {

  0% {
    transform: translate(0);
    opacity: 1;
  }

  50% {
    transform: translate(-100px);
    opacity: 0;
  }

}

.text p {
  margin-left: 30px;
  font-size: 17px;
}

.text h1 {
  font-size: 60px;
}

.field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 2vw;
  width: 100%;
}

.field-progress-bar {
  justify-self: stretch;
  grid-area: field-progress-bar;
  animation: move-text 2s;
}

.loading-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  animation: move-loader 3s;
}

@keyframes move-loader {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

}


.main-container-results {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: black;
}

.intro {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #151515;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.intro h1 {
  color: #323232;
  font-weight: 900;
  font-size: 18vw;
}

.button {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  padding: 20px 40px;
  position: absolute;
  font-size: 20px;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease;
}

.btn-animation {
  animation: move-button 2s;
}

@keyframes move-button {

  0% {
    transform: translate(0,0);
    opacity: 1;
  }

  50% {
    transform: translateY(-100px);
    opacity: 0;
  }

}

.div-animation {
  animation: move-div 3s;
}

@keyframes move-div {

  0% {
    transform: translate(0,0);
    opacity: 1;
  }

  50% {
    transform: translateY(-1000px);
    opacity: 0;
  }

}

.intro button:hover {
  background-color: white;
  color: black;
  cursor: crosshair;
}

.logo-container {
  position: absolute;
  height: 90px;
  width: 117px;
  left: 25px;
  top: 40px;
}

.job-list-container {
  display: block;
  align-items: center;
}

#logo {
  width: 100%;
  height: 100%;
}

.job {
  display: block;
  width: 95%;
  border: 1px solid black;
  color: black;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.job:hover {
  padding: 30px;
  border: 4px solid white;
}

.job.active {
  max-height: 600px;
}

.job-toggled:hover {
  padding: 30px;
  border: 4px solid white;
}

#go {
  font-size: 23px;
  border-radius: 15px;
}

input,
textarea,
select {
    outline: 0;
}



@media (max-width: 812px) {

  .main-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". . . . . . . ."
      ". text text text text text text ."
      ". . . . . . . ."
      ". field-progress-bar field-progress-bar field-progress-bar field-progress-bar field-progress-bar field-progress-bar ."
    }

    .text h1 {
      font-size:14vw;
    }

    .text p {
      font-size: 6vw;
    }

    .field {
      font-size: 5vw;
    }

}
